*.exe
*.dll
*.pdb
*.cache
RedisLib/bin/*
RedisLib/obj/*
RedisLibUnitTest/obj/*
RedisLibUnitTest/bin/*
TestApp/bin/*
TestApp/obj/*
*.suo
TestResults/ebb3b0ab-131b-4277-ade6-9747caaa6617/User_RICHARD 2015-12-22 19_10_49.coverage
